@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'PT Sans', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff9f05;
}

.container{
  width: 700px;
  height: 560px;
  background: #212a35;
  border: 2px solid #22282f;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 3px 5px 52px 3px #22282f;
}
.number-pad{
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
}